@import 'vars';

.spinnersDemoContainer {
  display: flex;
}

$ball: 20px;
$spinner: 80px;
.spinner {
  width: $spinner;
  height: $spinner; // background: #eee;
  border-radius: 50%;
  position: relative;
  margin: $spinner / 2;
  display: block;
  &:after,
  &:before {
    content: '';
    display: block;
    width: $spinner;
    height: $spinner;
    border-radius: 50%;
  }
}

.a,
.b,
.c,
.d,
.e,
.f {
  @extend .spinner;
}

.a:after {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: $mainColor;
  animation: spin 2.5s linear infinite;
}

.a:before {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-bottom-color: $mainColor;
  transform-origin: center;
  animation: upDown 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes upDown {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  40% {
    transform: rotate(200deg);
    opacity: 1;
  }
  60% {
    transform: rotate(400deg);
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}

.b {
  &:before,
  &:after {
    position: absolute;
    background: $mainColor;
    transform-origin: center;
  }
  &:after {
    opacity: 0;
    animation: pulse 3s ease-in-out infinite;
  }
  &:before {
    opacity: 0;
    animation: pulse 2.4s 1.2s ease-in-out infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.c {
  animation: insanity 3s linear infinite, fadeInOut 3s ease-in-out infinite;
  &:after,
  &:before {
    transform-origin: center;
    width: $ball;
    height: $ball;
    background: $mainColor;
    position: absolute;
    left: -1 * $ball / 2;
  }
  &:after {
    top: -1 * $ball / 2;
    left: $spinner / 2 - $ball / 2;
  }
  &:before {
    left: $spinner / 2 - $ball / 2;
    bottom: -1 * $ball / 2;
  }
}

@keyframes insanity {
  0% {
    transform: scale(0) rotateZ(-360deg);
  }
  50% {
    transform: scale(1) rotateZ(0deg);
  }
  100% {
    transform: scale(0) rotateZ(360deg);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: (0);
  }
  50% {
    opacity: (1);
  }
  100% {
    opacity: (0);
  }
}

.d {
  animation: spin 2.5s linear infinite;
  $circle: $spinner / 2;
  &:after,
  &:before {
    background: $mainColor;
    position: absolute;
    animation: growShrink 2.5s linear infinite;
    width: $circle;
    height: $circle;
    transform: scale(0);
  }
  &:before {
    left: $circle / -2;
    top: $circle / 4;
  }
  &:after {
    right: $circle / 2;
    top: $circle / 2;
    animation-delay: 1.5s;
  }
}

@keyframes growShrink {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.2);
  }
}

.e {
  &:after {
    position: absolute;
    top: 0;
    border: 6px dotted $mainColor;
    animation: spin 1.5s ease-in-out infinite, thinner 1.5s ease-in-out infinite;
  }
}

@keyframes thinner {
  0% {
    border-width: 6px;
    top: 0px;
    left: 0px;
  }
  50% {
    border-width: 3px;
    top: 3px;
    left: 3px;
  }
  100% {
    border-width: 6px;
    top: 0px;
    left: 0px;
  }
}

.f {
  $border: 1px;
  border: $border solid #ccc;
  animation: test 2s linear infinite;
  &:after {
    background: $mainColor;
    position: absolute;
    top: 0;
    animation: pulse 2s linear infinite;
  }
}

@keyframes test {
  0% {
    transform: rotateZ(0deg) rotateY(22deg);
  }
  50% {
    transform: rotateZ(180deg) rotateY(22deg);
  }
  100% {
    transform: rotateZ(360deg) rotateY(22deg);
  }
}
