@import 'vars';
@import 'mixins';

.item {
  border: 1px solid $mainColor;
  padding: 0.5em 0.5em;
  min-width: 2em;
  text-align: center;
  color: $mainColor;
  background: white;
  user-select: none;
}

.option {
  @include noSelect;
  @extend .item;
  border-right-width: 0;
  transition: background 300ms ease-in-out;
  cursor: pointer;
  &:last-child {
    border-right-width: 1px;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  &:first-child {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
  &:hover {
    background: lighten($mainColor, 25%);
  }
}

.container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 1em 0;
  @include noSelect;
}

.active {
  @extend .option;
  background: $mainColor !important;
  color: white;
}
