.infiniteList {
  height: 15em;
  width: 20em;
  border: 1px solid black;
  border-radius: 1em;
  overflow: auto;
  list-style-type: none;
  padding: 0;
}
.infiniteListItem {
  font-size: 1.5em;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border: none;
  }
}
.scrollPosApp {
  position: relative;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
  perspective: 1000;
  padding-top: 50vh;
  height: 175vh;
  width: 100vw;
}
.scrollPosHeader {
  position: absolute;
  top: 125vh;
  left: 30%;
}
