@import 'vars';
$mainColor: #ccc;
$mainColorDark: #999;

.menu {
  position: relative;
}

.item {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: $mainColor;
  border: 1px solid #666;
  top: 30px;
  left: 30px;
  font-size: 1.5rem;
  color: $mainColorDark;
  transition: background 200ms ease-in-out;
  &:hover {
    background: lighten($mainColor, 10%);
  }
}

.center {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  border-radius: 50%;
  background: $mainColorDark;
  color: $mainColor;
  border: 1px solid #666;
  transition: color 200ms ease-in-out;
  &:hover {
    color: lighten($mainColor, 10%);
  }
}
