@mixin oceanBlue($a: 135deg) {
  background: linear-gradient($a, #2e3192 0%, #1bffff 100%);
}
@mixin Sanguine($a: 135deg) {
  background: linear-gradient($a, #d4145a 0%, #fbb03b 100%);
}
@mixin LusciousLime($a: 135deg) {
  background: linear-gradient($a, #009245 0%, #fcee21 100%);
}
@mixin GrayBlue($a: 135deg) {
  background: linear-gradient($a, #b5d9eb 0%, #4a6067 100%);
}
@mixin PurpleLake($a: 135deg) {
  background: linear-gradient($a, #662d8c 0%, #ed1e79 100%);
}
@mixin FreshPapaya($a: 135deg) {
  background: linear-gradient($a, #ed1c24 0%, #fcee21 100%);
}
@mixin Ultramarine($a: 135deg) {
  background: linear-gradient($a, #00a8c5 0%, #ffff7e 100%);
}
@mixin PinkSugar($a: 135deg) {
  background: linear-gradient($a, #d74177 0%, #ffe98a 100%);
}
@mixin LemonDrizzle($a: 135deg) {
  background: linear-gradient($a, #fb872b 0%, #d9e021 100%);
}
@mixin VictoriaPurple($a: 135deg) {
  background: linear-gradient($a, #312a6c 0%, #852d91 100%);
}
@mixin SpringGreens($a: 135deg) {
  background: linear-gradient($a, #009e00 0%, #ffff96 100%);
}
@mixin MysticMauve($a: 135deg) {
  background: linear-gradient($a, #b066fe 0%, #63e2ff 100%);
}
@mixin ReflexSilver($a: 135deg) {
  background: linear-gradient($a, #808080 0%, #e6e6e6 100%);
}
@mixin NeonGlow($a: 135deg) {
  background: linear-gradient($a, #00ffa1 0%, #00ffff 100%);
}
@mixin BerrySmoothie($a: 135deg) {
  background: linear-gradient($a, #8e78ff 0%, #fc7d7b 100%);
}
@mixin NewLeaf($a: 135deg) {
  background: linear-gradient($a, #00537e 0%, #3aa17e 100%);
}
@mixin CottonCandy($a: 135deg) {
  background: linear-gradient($a, #fca5f1 0%, #b5ffff 100%);
}
@mixin PixieDust($a: 135deg) {
  background: linear-gradient($a, #d585ff 0%, #00ffee 100%);
}
@mixin FizzyPeach($a: 135deg) {
  background: linear-gradient($a, #f24645 0%, #ebc08d 100%);
}
@mixin SweetDream($a: 135deg) {
  background: linear-gradient($a, #3a3897 0%, #a3a1ff 100%);
}
@mixin Firebrick($a: 135deg) {
  background: linear-gradient($a, #45145a 0%, #ff5300 100%);
}
@mixin WroughtIron($a: 135deg) {
  background: linear-gradient($a, #333333 0%, #5a5454 100%);
}
@mixin DeepSea($a: 135deg) {
  background: linear-gradient($a, #4f00bc 0%, #29abe2 100%);
}
@mixin CoastalBreeze($a: 135deg) {
  background: linear-gradient($a, #00b7ff 0%, #ffffc7 100%);
}
@mixin EveningDelight($a: 135deg) {
  background: linear-gradient($a, #93278f 0%, #00a99d 100%);
}
