@import 'vars';
$duration: 200;

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(black, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  border: 1px solid #cccccc;
  padding: 3ch;
  background: white;
  border-radius: 2ch;
}

.overlayEnter {
  animation: fadeIn $duration + ms ease-in-out forwards;
}
.overlayExit {
  animation: fadeOut $duration + ms ease-in-out forwards;
}
.modalEnter {
  animation: floatUp $duration + ms ease-in-out forwards;
}
.modalExit {
  animation: fadeOut $duration + ms ease-in-out forwards;
}

@keyframes floatUp {
  from {
    opacity: 0;
    transform: translateY(50%) scale(0.7);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

:export {
  enterDuration: $duration;
}
