@import 'gradients';
@import 'vars';
@import 'mixins';

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 35px;
  margin: 1em;
  overflow: hidden;
  border-radius: $radius;
  background: white;
  box-shadow: 0 0 10px 0 rgba(black, 0.15);
  transform: translateZ(0);
  @include noSelect;
}

.content-base {
  position: absolute;
  width: 100%;
  height: 100%;
  @include GrayBlue;
}

$duration: 200ms;
.content {
  z-index: 1;
  @extend .content-base;
  transition: transform $duration ease-in-out;
}

.preview {
  z-index: 2;
  @extend .content-base;
  transition: opacity $duration ease-in-out;
}

.number {
  z-index: 3;
  cursor: default;
}
